@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	margin: 0 auto;
}
body {
	width: 425px;
	min-width: 100vw;
	letter-spacing: 0.2rem;
	display: flex;
}
body,
html {
	margin: 0;
	padding: 0;
	display: flex;
	/* justify-items: center; */
	/* align-items: center; */
	/* width: 425px; */
	/* height: 600px; */
	min-height: 100vh;
	overflow: hidden;
}

#root {
	max-width: 425px;
	width: 100%;
	max-height: 100vh;
	height: 660px;
	background-image: url("./../bg.jpeg");
	background-image: url("./assets/bg.jpeg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	justify-self: center;
	justify-items: center;
	align-items: flex-start;
	overflow: hidden;
}
